*{
  font-family: 'Noto Sans KR', sans-serif;
   list-style: none;
   text-decoration: none;
   border-collapse: collapse;
   margin:0px;
   padding:0px;
   color:black;
}

.contents1{
  font-weight: 100;
  font-size: 19px;
  line-height: 2px;
  margin-top: 110px;
}
.contents11{
  font-weight: 100;
  line-height: 2px;
  font-size: 80px;
  margin-top: 45px;
}
.contents1_bold{
  margin-top: 15px;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
}
.contents2{
  color: #fff;
  font-size: 15px;
  font-weight: lighter;
  }

.intro_bg{
  background-image:url("backgroundda.jpg");
  background-position: center;
  width: auto;
  height: 937px;
  }
  
.header{
  display:flex;
  width:1280px;
  margin:auto;
  height:86px;
}
.searchArea{
  width:300px;
  height:40px;
  background:rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-top:25px;
  margin-left:20px;
}
.searchArea > form > input{
  border:none;
  width:250px;
  height:40px;
  background:rgba(0,0,0,0.0);
  color:#fff;
  padding-left:10px;
}

.placeholder{
  color:black;
}

.searchArea > form > span{
  width:50px;
  color:#fff;
  font-weight:lighter;
  cursor: pointer;
}
.nav{
  display:flex;
  justify-content: flex-end;
  line-height: 86px;
  width:calc(1280px - 360px);
}

.nav > li{
  margin-left:50px;
}
.nav > li > a{
  color:#fff;
}

.intro_text{
  width:100%;
  margin:100px auto; 100px auto;
  text-align: center;
}

.intro_text > h1{
  color:#fff;
}

/* main_text0 */

.main_text0{
  text-align: center;
  width: 100%;
  height:400px;
  margin-top:-100px;
}
.main_text0 > h1{
  padding-top:116px;
  text-align: center;
}
.main_text0 > .contents1 {
  text-align: center;
}

.icons{
  display: flex;
  text-align: center;
  width:800px;
  height:370px;
  margin-left: 525px;
}
.icons > li {
  text-align: center;
  flex: 1;
  margin-top:70px;
  height:450px;
}
.icons > li > .box{
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin-top:20px;
  width:200px;
  height:200px;
  border-radius: 70%;
  overflow: hidden;
}
.profile{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.icons > li:not(:last-child){
  margin-right: 20px;
}
.icons .contents2{
  
  width:170px;
  margin:auto;
  letter-spacing: -1px;
  margin-top: 10px;
  text-align: center;

}
.more{
  width:100px;
  height: 30px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  margin: 20px auto;
}

footer{
  position: fixed;
  bottom: 0px;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  width:100%;
  height: 40px;
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  line-height:40px;
}
footer > div:first-child{
  flex:3;
  text-align: center;
  color: white;
}
footer > div:last-child{
  flex:9;
}
