*{
  font-family: 'Noto Sans KR', sans-serif;
   list-style: none;
   text-decoration: none;
   border-collapse: collapse;
   margin:0px;
   padding:0px;
   color:black;
}
.intro_bg{
  background-image:url("aboutme2.jpg");
  width: 100%;
  height: 937px;
}
.contents1{
  font-size: 16px;
  color:#fff;
  margin-left: 1050px;
  margin-top: 168px;
  font-weight: lighter;
}

.contents11{
  font-size: 13px;
  color: white;
  line-height: 0px;
}

.header{
  display:flex;
  width:1280px;
  margin:auto;
  height:86px;
}
.searchArea{
  width:300px;
  height:40px;
  background:rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-top:25px;
  margin-left:20px;
}
.searchArea > form > input{
  border:none;
  width:250px;
  height:40px;
  background:rgba(0,0,0,0.0);
  color:#fff;
  padding-left:10px;
}
.placeholder{
  color:black;
}
.searchArea > form > span{
  width:50px;
  color:#fff;
  font-weight:lighter;
  cursor: pointer;
}
.nav{
  display:flex;
  justify-content: flex-end;
  line-height: 86px;
  width:calc(1280px - 360px);
}
.nav > li{
  margin-left:50px;
}
.nav > li > a{
  color:rgb(124, 124, 124);
}
.icons{
  display: flex;
  width:800px;
  height:370px;
  margin:auto;
}
.icons > li {
  flex: 1;
  background: white;
  margin-top:70px;
  height:390px;
  text-align: center;
}

footer{
  position: fixed;
  bottom: 0px;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  width:100%;
  height: 40px;
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  line-height:40px;
}
footer > div:first-child{
  flex:3;
  text-align: center;
  color: white;
}
footer > div:last-child{
  flex:9;
}
